@header-height: 120px;
@global-header-height: 48px;

.datatable-header,
.datatable-table {
    margin: 0 16px;
}

.datatable-header {
    height: @header-height;
    margin-bottom: 8px;

    .datatable-header-upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .ant-typography {
            margin-bottom: 0;
        }
    }

    .datatable-header-lower {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        .datatable-header-lower-left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .datatable-filters {
                width: 60%;
                margin-bottom: 8px;
                width: 100%;
                height: 16px;

                .ant-space {
                    width: 100%;
                }
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.4);
                }

                70% {
                    box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);
                }

                100% {
                    box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);
                }
            }

            .sample-count {
                min-width: 480px;
                width: max-content;
                background-color: #fff3cd;
                /* 柔和黄色 */
                color: #856404;
                /* 深黄色文字 */
                font-weight: bold;
                padding: 6px 16px;
                border-left: 4px solid #ffc107;
                border-radius: 4px;
                margin: 0;
                animation: pulse 2s infinite;
            }
        }

        .datatable-header-lower-right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            .ant-btn {
                margin-left: 8px;
            }
        }
    }
}

.datatable-table-grid {
    height: calc(100vh - @header-height - @global-header-height - 24px);

    .datatable-table-grid-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;
        background-color: #fff;
        padding: 8px;
        border-radius: 5px;

        .datatable-table-grid-footer-text {
            font-size: 18px;
            font-weight: 500;
            color: #666;
            margin-right: 8px;
        }
    }
}

.datatable-data-info-modal {
    width: 100%;
    height: 100%;

    .ant-modal-body {
        padding: 0;
    }

    .data-info-modal-content {
        width: 100%;
        height: 100%;
        max-height: 500px;
        background-color: #fff;
        border-radius: 8px;
        overflow-y: auto;

        .ant-descriptions {
            width: 100%;
            height: 100%;
        }
    }
}

.chart-card-popover {
    width: 450px !important;
    height: 380px !important;
}

.datatable-visualization-modal {
    .ant-modal-body {
        padding: 0;
    }
}

@media (max-width: 1400px) {
    .sample-count {
        display: none !important;
    }
}

// 隐藏左侧头部组件，在中小屏下
@media (max-width: 1024px) {
    .datatable-header-lower-left {
        visibility: hidden;
    }
}

.gdg-column-menu {
    padding: 0px !important;

    div {
        cursor: pointer;
        padding: 10px;

        span {
            margin-left: 5px;
        }
    }

    .ant-divider {
        padding: 0 !important;
    }
}

.gdg-column-menu div:hover {
    background-color: #f0f0f0;
}