.datarepo {
  .datarepo-page-header {
    padding: 0px;

    .ant-pro-statistic-card {
      .ant-pro-card-body {
        padding: 0px;
      }
    }
  }

  .ant-pro-page-container-children-content {
    padding: 0px;
    margin: 10px;
  }

  .ant-pro-table .ant-pro-table-search {
    margin-bottom: 10px;
    padding: 20px;

    .ant-form-item {
      margin: 5px 0px;
    }
  }

  .ant-pro-card-body {
    padding: 0px 10px;

    .ant-pro-table-list-toolbar-container {
      padding: 10px 0;
    }
  }

  .ant-pro-card-statistic-description {
    .ant-statistic {

      .ant-statistic-content,
      .ant-statistic-title {
        font-size: 16px;
      }
    }
  }

  .ant-page-header-content {
    .image {
      width: 30%;

      .ant-pro-statistic-card {
        width: unset !important;
      }
    }
  }

  .ant-pro-table-list-toolbar {
    .ant-pro-table-list-toolbar-container {
      float: right;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 100;
    }
  }
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  width: 20%;
}
